:root {
  --bg-principal: #1e213a;
  --white: #e7e7eb;
  --gray: #6e707a;
  --second-color: #a09fb1;
  --black: #100e1d;
}
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
